// Layout

// Header (Masthead)

header#masthead {
	background: $background-dark;
	padding-top: 1rem;

	background: #111;
	min-height: $header-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	h1 {
		a{
			text-shadow: $background-dark 0 0 0.125rem;
		}
		a:hover {
			text-shadow: ( $text-color + #89a ) 0 0 0.5rem;
		}
	}

	span.icon-pilcrow {
		font-size: 2em;
		color: $background-dark;
		text-shadow: ( $text-color + #89a ) 0 0 0.5rem;
		float: right;
		margin: 0.25rem;
	}

	div.row {
		width: 100%;
		max-width: 960px;
		margin: auto;
	}
	
	nav#site-navigation {
		ul#primary-menu {
			list-style-type: none;
			li {
				display: inline;
			}
		}
	}

}

div.right {
	text-align: right;
}

div#content {
	padding-top: 60px;
}

div.story-publication-details {
	margin: 2em;
	font-family: $serif;
	font-style: italic;
	color: ( $text-color + #222 );
}

div.story-reviews {
	padding: 2em;
	border-top: 1px solid $text-color;

	p.review {
		margin-bottom: 1em;
	}

}

// WordPress admin bar dingus

body.admin-bar  header#masthead {
	top: 28px;
}

body.admin-bar div#content {
	padding-top: ( $header-height + 3rem );
}