// Layout

// Header (Masthead)

header#masthead {
	background: $background-dark;
	padding-top: 1rem;

	span.icon-pilcrow {
		font-size: 3em;
		color: $background-dark;
		text-shadow: ( $text-color + #221 ) 0 0 8px;
		float: left;
		margin: 2rem;
	}

	div.row {
		width: 100%;
		max-width: 960px;
		margin: auto;
	}
	
	nav#site-navigation {
		ul#primary-menu {
			list-style-type: none;
			li {
				display: inline;
			}
		}
	}

}

div.right {
	text-align: right;
}

div#content {
	padding-top: 60px;
}

div.story-publication-details {
	margin: 2em;
	font-family: $serif;
	font-style: italic;
	color: ( $text-color + #222 );
}

div.story-reviews {
	padding: 2em;
	border-top: 1px solid $text-color;

	p.review {
		margin-bottom: 1em;
	}

}