// Variable definitions

// Background colors
$background-dark: #111;
$background-light: #ffe;

// Text colors
$text-color: #222;
$text-color-light: #ddd;

// Link colors
$link-color: #1EAEDB;
$link-hover-color: #0FA0CE;

// font stacks
$serif: 'IM Fell English', serif;
$sans-serif: 'Lato', sans-serif;

// Layout stuff
$header-height: 4rem;
