// Variable definitions

// Background colors
$background-dark: #111;
$background-light: #ffe;

// Text colors
$text-color: #222;
$text-color-light: #ddd;

// Link colors
$link-color: #369;
$link-hover-color: lighten( $link-color, 20% );
$link-visited-color: darken( $link-color, 20% );

// font stacks
$serif: 'Libre Baskerville', serif;
$sans-serif: 'Roboto', sans-serif;

// Layout stuff
$header-height: 4rem;
