// Variable definitions

// Text colors
$text-color: #222;
$text-color-light: #ddd;

// Link colors
$link-color: #1EAEDB;
$link-hover-color: #0FA0CE;

// font stacks
$serif: 'Libre Baskerville', serif;
$sans-serif: 'Open Sans', sans-serif;

