/*
    Document   : authorial.css
    Created on : 29-Jul-2014, 10:49:04 PM
    Author     : pjohanneson
    Description:
        Overrides for the Authorial theme
*/

/* Header styles */

.header .logo {
	text-align: center;
}

.header .logo h1 {
	font-variant: small-caps;
	text-transform: lowercase;
	color: #888;
	letter-spacing: 0.25em;
}

.header .logo a h1 {
	text-decoration: none;
}

.header .logo a:hover h1  {
	color: #88c;
}

/* Body styles */

p {
	margin-top: 1em;
}

/* Image styles */

img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

div.wp-caption {
	text-align: center;
	border: 1px solid #ddd;
	padding: 0;
}

div.wp-caption img {
	padding: 0;
}
p.wp-caption-text {
	margin:0;
	color: #444;
}

.title a h3 {
	text-decoration: none;
	color: #456;
}